.carousel-item {
    height: 400px;
}

.carousel-img {
    height: 400px;
    width: auto;
    position: absolute;
}
.carousel-img-background{
    height:auto;
    width: 100%;
    position: relative;
    z-index: -1;
    /* background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)); */
    opacity:0.5;
}
.carousel-item.active{
    display:flex;
    justify-content: center;
}

.carousel {
    display: flex;
    justify-content: center;
}


/* style={{backgroundImage: `url()`, backgroundSize: "cover", backgroundOpacity: 0.5}} */