@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');
.homepage-root {
    position: relative;
    display: flex;
    flex-direction: column;
    margin-top:111px;
    background: linear-gradient(to right, #141e30, #243b55); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.top_carousel{
margin-top:100px;
}


.carousel-item {
    height: 400px;
}

.carousel-img {
    height: 100%;
    width: auto;
    position: absolute;
}

.carousel-caption {
    bottom: 90px;
    font-family: 'Source Sans Pro', Arial, sans-serif;
    text-shadow: 2px 2px black;
}

.carousel-img-background {
    height: auto;
    width: 50%;
    position: relative;
    z-index: -1;
    /* background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)); */
    opacity: 0.7;
}

.carousel-item.active {
    display: flex;
    justify-content: center;
}

.carousel {
    display: flex;
    justify-content: center;
}

.title-h3,
.release-date-p {
    color: white;
    text-transform: uppercase;
}

.title-h3:hover {
    margin-bottom: 5px;
}

.content-divider {
    width: 100%;
    height: 100px;
    background-position: -40px -500px;
    /* background-image: radial-gradient(at 30% top, rgba(31, 40, 73, 1) 0%, rgba(8, 28, 36, 1) 70%); */
}

h2 {
    padding: 0;
    box-sizing: border-box;
}

div.inner_content {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    font-family: 'Source Sans Pro', Arial, sans-serif;
    background-repeat: no-repeat;
    position: relative;
    top: 0;
    left: 0;
    z-index: 2;
    text-align: left;
    padding: 20px 0 0 10%;
    display: flex;
    align-items: flex-end;
    background-position: -40px -500px;
    /* background-image: url('./../../Assets/purple-63b164a075461641b7ef444ea97d9787adf45a9552fe215e20063e3ff02491a8.svg') */
}

div.inner_content a, div.inner_content2 a {
    color: white;
    transition: all 0.3s;
    cursor: pointer;
    text-decoration: none;
    font-size: 30px;
    padding-bottom: 20px;
}

div.inner_content a:hover {
    color: #4D2F91;
}

div.inner_content2 {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    font-family: 'Source Sans Pro', Arial, sans-serif;
    background-repeat: no-repeat;
    position: relative;
    top: 0;
    left: 0;
    z-index: 2;
    padding: 0px 10% 0 20px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    /* background-image: url('./../../Assets/blue_pipes.jpg'); */
    background-size: cover;

}

div.inner_content2 a:hover {
    color: #128AB3;
}

.popular {
    display: flex;
    justify-content: center;
    margin: 0;
}

.popular a {
    margin-bottom: none;
}

.column-top {
    display: flex;
}

.element-title {
    color: white;
    text-shadow: 2px 2px black;
    position: absolute;
}

.popular-img-sm {
    height: 141px;
    width: 250px;
    position: relative;
    vertical-align: bottom;
}

.popular-img-lg {
    height: 281px;
    width: 500px;
    vertical-align: bottom;
}
.footer_img{
    width:100%;
    height:500px;
    background-image: url('./../../Assets/ironmanfooter.jpg');
    background-size:cover;
}

@media only screen and (max-width:710px) {
    .carousel-img {
        height: 400px;
    }
    .carousel-img-background {
        height: 100%;
    }
}


/* body,
html {
  padding: 0 10px;
  margin: 0;
  background: #0e0f11;
  color: #ecf0f1;
  font-family: 'Open Sans', sans-serif;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
} */
* {
  box-sizing: border-box;
}
h1,
/* p {
  text-align: center;
} */
p {
  width: 100%;
  max-width: 500px;
  margin: auto;
}
a:link,
a:hover,
a:active,
a:visited {
  transition: color 150ms;
  color: #95a5a6;
  text-decoration: none;
}
a:hover {
  color: #7f8c8d;
  text-decoration: underline;
}
.contain {
  overflow: hidden;
  width: 100%;
}
.row {
  overflow: scroll;
  width: 100%;
}
.row__inner {
  transition: 450ms -webkit-transform;
  transition: 450ms transform;
  transition: 450ms transform, 450ms -webkit-transform;
  font-size: 0;
  white-space: nowrap;
  margin: 70.3125px 0;
  padding-bottom: 10px;
}
.tile {
  position: relative;
  display: inline-block;
  width: 250px;
  height: 140.625px;
  margin-right: 10px;
  font-size: 20px;
  cursor: pointer;
  transition: 450ms all;
  -webkit-transform-origin: center left;
          transform-origin: center left;
}
.tile__img {
  width: 250px;
  height: 140.625px;
  -o-object-fit: cover;
     object-fit: cover;
}
.tile__details {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  font-size: 10px;
  opacity: 0;
  background: linear-gradient(to top, rgba(0,0,0,0.9) 0%, rgba(0,0,0,0) 100%);
  transition: 450ms opacity;
}
.tile__details:after,
.tile__details:before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  display: #000;
}
/* .tile__details:after {
  margin-top: -25px;
  margin-left: -25px;
  width: 50px;
  height: 50px;
  border: 3px solid #ecf0f1;
  line-height: 50px;
  text-align: center;
  border-radius: 100%;
  background: rgba(0,0,0,0.5);
  z-index: 1;
} */
.tile__details:before {
  /* background-image: url('../../Assets/fullWhiteHeart.png');
  background-repeat: no-repeat; */
  background-size: 10px 20px;
  display: inline-block;
  width: 10px; 
  height: 20px;
  content:"";
  left: 0;
  width: 100%;
  font-size: 30px;
  margin-left: 7px;
  margin-top: -18px;
  text-align: center;
  z-index: 2;
}
.tile:hover .tile__details {
  opacity: 1;
}
.tile__title {
  position: absolute;
  bottom: 0;
  padding: 10px;
}
.row__inner:hover {
  -webkit-transform: translate3d(-62.5px, 0, 0);
          transform: translate3d(-62.5px, 0, 0);
}
.row__inner:hover .tile {
  opacity: 0.3;
}
.tile:hover ~ .tile {
  -webkit-transform: translate3d(125px, 0, 0);
          transform: translate3d(125px, 0, 0);
}
.row__inner:hover .tile:hover {
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
  opacity: 1;
}

/* style={{backgroundImage: `url()`, backgroundSize: "cover", backgroundOpacity: 0.5}} */
.watchlist-img{
    height: 400px;
    width: 100%;
}

.sidenav {
    background: #232526;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #414345, #232526);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #414345, #232526); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
}

.sidenav  * {
    padding: 0 !important;
    
}

.sidenav *:not(:first-child){
    margin-top: 400px;
}

.remove-from-list{
    height: 30px;
    width: 20px;
    background-color: rgba(255, 255, 255, 0.5);
    background: rgba(255, 255, 255, 0.5);
    color: rgba(255, 255, 255, 0.5);
   
}

