@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');
.homepage-root {
    position: relative;
    display: flex;
    flex-direction: column;
    margin-top:111px;
    background: linear-gradient(to right, #141e30, #243b55); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    height:100%;
    color:white;
    font-family: 'Source Sans Pro', Arial, sans-serif;
   height:100vh;
}


h2 {
    padding: 0;
    box-sizing: border-box;
}

.footer_img{
    width:100%;
    height:20vh;
    background-image: url('./../../Assets/ironmanfooter.jpg');
    background-size:cover;
    position:relative;
    bottom:0

}

@media only screen and (max-width:710px) {
    .carousel-img {
        height: 400px;
    }
    .carousel-img-background {
        height: 100%;
    }
}


/* body,
html {
  padding: 0 10px;
  margin: 0;
  background: #0e0f11;
  color: #ecf0f1;
  font-family: 'Open Sans', sans-serif;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
} */
* {
  box-sizing: border-box;
}
h1,
/* p {
  text-align: center;
} */

/* a:link,
a:hover,
a:active,
a:visited {
  transition: color 150ms;
  color: #95a5a6;
  text-decoration: none;
} */
/* a:hover {
  color: #7f8c8d;
  text-decoration: underline;
} */
.contain {
  overflow: hidden;
  width: 90%;
  margin:auto;
  overflow-x: hidden;
}
.movies_type_left{
    position: relative;
    top: 20px;
    left: 20px;
    font-size: 1.5em;
}
.movies_type_right{
    position: relative;
    top: 20px;
    right: 20px;
    font-size: 1.5em;
    text-align:right;
    width:100%;
}
.row {
  overflow: hidden;
  width: 100%;
}
.homepage_bottom{
    position:relative;
    bottom:100px;
}
.row__inner {
  transition: 450ms -webkit-transform;
  transition: 450ms transform;
  transition: 450ms transform, 450ms -webkit-transform;
  font-size: 0;
  white-space: nowrap;
  margin: 70.3125px 0;
  padding-bottom: 10px;
  overflow:scroll;
}
.tile {
  position: relative;
  display: inline-block;
  width: 250px;
  height: 140.625px;
  margin-right: 10px;
  font-size: 20px;
  cursor: pointer;
  transition: 450ms all;
  -webkit-transform-origin: center left;
          transform-origin: center left;
}
.tile__img {
  width: 250px;
  height: 140.625px;
  -o-object-fit: cover;
     object-fit: cover;
}
.tile__details {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  font-size: 10px;
  opacity: 0;
  background: linear-gradient(to top, rgba(0,0,0,0.9) 0%, rgba(0,0,0,0) 100%);
  transition: 450ms opacity;
}
.tile__details:after,
.tile__details:before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  display: #000;
}
/* .tile__details:after {
  margin-top: -25px;
  margin-left: -25px;
  width: 50px;
  height: 50px;
  border: 3px solid #ecf0f1;
  line-height: 50px;
  text-align: center;
  border-radius: 100%;
  background: rgba(0,0,0,0.5);
  z-index: 1;
} */
.tile__details:before {
  /* background-image: url('../../Assets/fullWhiteHeart.png');
  background-repeat: no-repeat; */
  background-size: 10px 20px;
  display: inline-block;
  width: 10px; 
  height: 20px;
  content:"";
  left: 0;
  width: 100%;
  font-size: 30px;
  margin-left: 7px;
  margin-top: -18px;
  text-align: center;
  z-index: 2;
}
.tile:hover .tile__details {
  opacity: 1;
}
.tile__title {
  position: absolute;
  bottom: 0;
  padding: 10px;
}
.row__inner:hover {
  -webkit-transform: translate3d(-62.5px, 0, 0);
          transform: translate3d(-62.5px, 0, 0);
}
.row__inner:hover .tile {
  opacity: 0.3;
}
.tile:hover ~ .tile {
  -webkit-transform: translate3d(125px, 0, 0);
          transform: translate3d(125px, 0, 0);
}
.row__inner:hover .tile:hover {
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
  opacity: 1;
}

/* style={{backgroundImage: `url()`, backgroundSize: "cover", backgroundOpacity: 0.5}} */
.watchlist-img{
    height: 400px;
    width: 100%;
}

.sidenav {
    background: #232526;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #414345, #232526);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #414345, #232526); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
}

.sidenav  * {
    padding: 0 !important;
    
}

.sidenav *:not(:first-child){
    margin-top: 400px;
}

.remove-from-list{
    height: 30px;
    width: 20px;
    background-color: rgba(255, 255, 255, 0.5);
    background: rgba(255, 255, 255, 0.5);
    color: rgba(255, 255, 255, 0.5);
   
}

