.AllMovies-search{
  width:100%;
  display:flex;
  flex-direction:column;
  position: fixed;
  z-index: 2;
  border-bottom:1px solid black;
  align-items:center;
  height:40px;
  font-family: 'Source Sans Pro', Arial, sans-serif;
  background-color:white;

}

/* .search_icon{
  height:20px;
  width:20px;
} */
.search_input{
  position:relative;
  left:17%;
  border-bottom:none !important;
  top:10px;
  font-family: 'Source Sans Pro', Arial, sans-serif;
}
.search_input:focus{
    border-bottom: none!important;
    box-shadow: none!important;
}
.search_input::placeholder{
  font-style:italic;
  font-family: 'Source Sans Pro', Arial, sans-serif;

}
.movies_search_results_hidden{
  display:none;
}
.movies_search_results{
  width:70%;
  position:absolute;
  z-index:2;
  top:40px;
  left:17%;
  padding-top:15px;
  background-color:white;
  max-height:21.5em;
  overflow:scroll;
}
.search_link{
  padding: 5px 0 5px 10px;
  text-decoration: none;
  color: black;
}
.search_link:hover{
  text-decoration:none;
  color:grey;
}
  /* .AllMovies-search{
    width: 100%;
    height: 35px;
    background-color: white;
    display:flex;
    align-items: center !important;
    border: grey solid 1px;
    position:fixed;
    z-index:3;
  }
  .AllMovies-search-bar{
    height:100% !important; 
    margin:0 !important;
    border:none;
    font-style: italic;
    font-family: Arial, sans-serif;
    position:relative;
    left:17%;
    border:none !important;
    width:100% !important;
  }
  

  .search_icon{
      width:30px;
      height:30px;
      position:relative;
      left:16.5%;
      background: url('../../Assets/search-icon.png') no-repeat scroll;
      background-size: 30px;
      background-position: center;
  }
  .search_relative{
    position:relative;
  }
  .search-results{
    background-color:white;
    width:100%;
    position: absolute;
    bottom:100px;
    left:40px;
    z-index:-1;
    overflow:scroll;
  }
  .search-results-content{
    position: relative;
    top: 138px;
    left: 10px;
    background-color:white;
    overflow:scroll;
    z-index:2;
  }
  .search_link{
    color:black;
    font-family: Arial, sans-serif;
    padding:0;
    margin:0;
    height: 100%;
    width:100%;
  }
  .search_link:hover{
    text-decoration: none;
    color:gray;
  }

  @media only screen and (max-width:738px) {
    .search-results-content {
        width:90%;
    }
} */