

div.custom_bg {
    background-repeat: no-repeat;
    background-size: cover;
    margin-top:111px;
}
.movie-img {
    display: block;
    width: 300px;
    height: 450px;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    margin-left: 20px;
}

.single_column {
    width: 100%;
    margin: 0 auto;
    padding-top: 40px;
    padding-bottom: 40px;
    z-index: 0;
    color: white;
    font-family: 'Source Sans Pro', Arial, sans-serif;
    display: flex;
    justify-content: center;
}

section.poster {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    align-content: center;
    width: 700px;
    box-sizing: border-box;
    padding-left: 40px;
}

section.images {
    display: flex;
    align-items: flex-start;
    flex-wrap: nowrap;
}


.layer {
    background-color: rgba(46, 42, 40, 0.9);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.header_info {
    width: 100%;
}

.images_inner {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
}
.movie_buttons{
    margin-bottom:20px;
    display:flex;
}
.doughnut_bg{
    left: 105px;
    top: 5px;
    border-radius: 50%;
    position: relative;
    height: 70px;
    width: 70px;
    background-color: #021D23;
}
.doughnut_container{
    width: 140px;
    height: 70px;
    position:relative;
}
.rating{
    position: absolute;
    font-size: 16px;
    top: 44%;
    left: 41%;
}
.add_to_watchlist_btn{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    position: relative;
    top: 14px;
    opacity:0.9;
    margin:0 15px 0 10px;
    background:transparent;
    background-image: url('./../../Assets/fullWhiteHeart.png');
    background-size:20px 20px;
    background-position: center;
    background-repeat: no-repeat;
    border: 2.5px solid white;
}

.add_to_watchlist_btn:hover{
    background: #FFFFFF;
    background-image: url('./../../Assets/valentines-heart.png');
    background-size:20px 20px;
    background-position: center;
    background-repeat: no-repeat;
}
.add_to_watchlist_btn_2{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    position: relative;
    top: 14px;
    opacity:0.9;
    margin:0 15px 0 10px;
    background:transparent;
    background-image: url('./../../Assets/filledWhiteMenu.png');
    background-size:20px 20px;
    background-position: center;
    background-repeat: no-repeat;
    border: 2.5px solid white;
}
.add_to_watchlist_btn_2:hover{
    background: #FFFFFF;
    background-image: url('./../../Assets/bullet-list.svg');
    background-size:20px 20px;
    background-position: center;
    background-repeat: no-repeat;
}
.add_to_watchlist_btn_3{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    position: relative;
    top: 14px;
    opacity:0.9;
    margin:0 15px 0 10px;
    background:transparent;
    background-image: url('./../../Assets/favourites-filled-star-symbol-white.png');
    background-size:20px 20px;
    background-position: center;
    background-repeat: no-repeat;
    border: 2.5px solid white;
}
.add_to_watchlist_btn_3:hover{
    background: #FFFFFF;
    background-image: url('./../../Assets/favourites-filled-star-symbol.png');
    background-size:20px 20px;
    background-position: center;
    background-repeat: no-repeat;
}
.delete_from_watchlist{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    position: relative;
    top: 14px;
    opacity:0.9;
    margin:0 15px 0 10px;
    background:transparent;
    background-image: url('./../../Assets/clear.png');
    background-size:20px 20px;
    background-position: center;
    background-repeat: no-repeat;
    border: 2.5px solid white;
}
.delete_from_watchlist:hover{
    background: #FFFFFF;
    background-image: url('./../../Assets/favourites-filled-star-symbol.png');
    background-size:20px 20px;
    background-position: center;
    background-repeat: no-repeat;
}
.percentage{
    font-size: 10px;
    position: relative;
    top: -5px;
    left: -2px;
}

.Overview {
    width: 100%;
    margin: 0 0 8px 0;
    font-weight: 600;
    line-height: 1.3em;
    font-size: 1.3em;
}
.overview_p_container{
    width:100%;
    justify-content: center;
}

.Overview-p {
    font-size: 1em;
    line-height: 1.4em;
    font-weight: 100;
    margin-bottom: 16px;
    color: #939190;
    width:90%;
}
.movie_title_container{
display:flex;
justify-content: space-around;
}

.movie_title {
    margin: 0;
    padding: 0;
    font-size: 2.4em;
    line-height: 1.1em;
    font-weight: 700;
    display: inline-block;
}

.movie_year {
    color: #9E9C9B;
    font-size:25px;
    margin-left:10px
}

.featured_crew {
    width: 100%;
    margin: 30px 0 8px 0;
    font-weight: 600;
    line-height: 1.3em;
    font-size: 1.3em;
}

.profile {
    width: 33%;
    flex-basis: 33%;
    text-align: left;
    margin-bottom: 14px;
    margin-right: 0;
    box-sizing: border-box;
    padding-right: 20px;
    list-style-type: none;
}

.profile h1 {
    font-size: 1em;
    line-height: 1.4em;
    margin: 0;
    font-weight: bold;
    width: 140px;
}

.profile p {
    padding: 0;
    font-size: 0.9em;
    line-height: 1.4em;
    color: #777573;
    width: 140px;
}

.featuredCrew {
    margin-top: 0;
    justify-content: flex-start;
    flex-wrap: wrap;
    list-style-type: none;
    list-style-position: inside;
    margin: 0;
    padding: 0;
    display: flex;
    width: 100%;
}

.billed_cast_member {
    border: 1px solid #e3e3e3;
    padding-bottom: 10px;
    width: 140px;
    background-color: #fff;
    box-sizing: border-box;
    margin-right: 10px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    font-family: 'Source Sans Pro', Arial, sans-serif;
    display: flex;
    flex-direction: column;
}

.billed_cast_member img {
    width: 100%;
    height: 180px;
}
.top_billed_scroller{
    height: auto;
}

.top_billed_cast_container {
    display: flex;
    flex-wrap:wrap;
    justify-content: flex-start;
    width:100%;
}

.top_billed_cast_name {
    padding: 10px 10px 0 10px;
    color: black;
    font-weight: bold;
    text-decoration: none;
    font-size:17px;
}

.top_billed_cast_name:hover {
    text-decoration: none;
    color: black;
}

.top_billed_cast_character {
    padding: 5px 10px 0 10px;
}
.top_billed_cast_h3{
    font-weight: 600;
    font-size: 1.4em;
    margin: 30px 0 10px 5px;
    font-family: 'Source Sans Pro', Arial, sans-serif;

}
.reviews_container{
    display:flex;
    flex-direction: column;
    padding-left: 40px;
    padding-bottom: 40px;
    box-sizing:contain;
    width:80%;
    position:relative;
    bottom: 280px;
    
}
.reviews_container_hidden{
    display:flex;
    flex-direction: column;
    padding-left: 40px;
    padding-bottom: 40px;
    box-sizing:contain;
    width:80%;
}
.rewiews_hidden{
    transition: all 0.35s ease-in-out;
}
.review_card{
    padding: 20px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
    font-family: 'Source Sans Pro', Arial, sans-serif;
    margin:10px;
    width:90%;
}
.review_card p{
    width:80%;
    margin-top:5px;
    word-break: break-all
}
.review_top{
    width:100%;
    display:flex;
    align-items:center;
}
.review_user_img{
    height: 64px;
    width: 64px;
    margin-right:10px;
    background-color: #00DD72;
    border-radius: 50%;
}
.review_bottom{
    margin-left:74px;
}
.white_column{
    height:100%;
    width:auto;
    display:flex;
    flex-direction:column;
}
.grey_column{
    height:100%;
    background: #d9d9d9;
    width:30%;
    display:flex;
    flex-direction:column;
    font-family: 'Source Sans Pro', Arial, sans-serif;

}
.bottom_wrapper{
    display:flex;
    height:1000px;
    justify-content: space-between;
}
.grey_column_content{
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding-left:30px;
    font-size:16px;
    line-height:1em;
    padding-top:30px;
}
.grey_column_content p{
    margin: 10px 0;
    font-weight:700;
}
.grey_column_title{
    font-weight: 700;
    font-size: 25px;
}
.leave_review_btn{
    font-family: 'Source Sans Pro', Arial, sans-serif;
    color: white;
    background-color: #18568E;
    border-radius: 5px;
    border:1px solid gray;
    padding:5px;
    width:auto;
    height:32px;
    cursor:pointer;
    margin:10px 0 5px 20px;
    }
.review_form{
    display:flex;
    flex-direction:column;
    justify-content: center;
    height:auto;
    width:94%;
    margin-left:20px;

}
.rf_show{
    visibility: visible;
    transition: all .35s ease-in-out;
    opacity:1;
}
.rf_hidden{
    visibility: hidden;
    opacity: 0;
    transition: all .35s ease-out;
}
.review_form input{
    text-align:left;
    width:40%;
    margin-bottom:5px;
    font-family: 'Source Sans Pro', Arial, sans-serif;
    border-radius:2px;
}
.review_form input::placeholder, textarea::placeholder{
    text-align:left;
    font-family: 'Source Sans Pro', Arial, sans-serif;
    font-style: italic;

}
.review_form textarea{
    height:200px;
    font-family: 'Source Sans Pro', Arial, sans-serif;
    border-radius:2px;

}
.review_form button{
    font-family: 'Source Sans Pro', Arial, sans-serif;
    color: white;
    background-color: #00DD72;
    border-radius: 5px;
    padding:5px;
    width:180px;
    height:40px;
    cursor:pointer;
    margin:10px 0;
    font-size:20px;
}
.review_form button:hover{
    background:black;
    opacity:0.3;
}
textarea:focus, input:focus, button:focus{
    outline: none;
}
.submit_button_div{
    width:100%;
    display:flex;
    justify-content: flex-end;
}
.trailer_container{
    width:90%;;
}
iframe{
    width:100%;
    height:auto;
}
@media only screen and (max-width:710px) {
    section.poster{
        width: 100%;
    }
    .featured_crew{
        padding-left:0px;
    }
    .featuredCrew{
        padding-left: 10px;
    }
    .images_inner {
        justify-content:center;
    }
    .Overview{
        padding-left: 40px;
    }
    .Overview-p {
       word-break: break-word;
       padding: 0 10px;
    }
    .movie_title_container{
        display:flex;
        justify-content: space-around;
        }
    .top_billed_cast_container{
        justify-content: center;
    }
    .grey_column{
        width:500px;
    }
    .review_card{
        font-size:12px;
        margin: 10px 0px;
    }
    .reviews_container{
        width:98%;
        padding-left: 0;
    }
    .review_form button{
        width:100px;
        height: 40px;
    }
    .review_bottom{
        margin-left:10px;
    }
    .review_card p{
        width:100%;
    }
    .images_inner{
        width:90%;
    }
    section.poster{
        padding-left: 0px;
    }
    .movie-img{
        margin:0px;
        width: 250px;
        height: auto;
    }
    .top_billed_cast_container{
        width: 100%;
        justify-content: center;
    }
    .white_column{
        align-items:center;
    }
    .billed_cast_member{
        width:100px;
        height:auto;
    }
    .billed_cast_member img{
        height:140px;
    }
    .grey_column_content{
        padding-left:10px;
        padding-top:10px;
    }
    .leave_review_btn{
        height: 30px;
    }
    .review_user_img{
        width:40px;
        height:40px;
    }
    .movie_title{
        text-align: center;
    }
    .top_billed_cast_name{
        padding: 5px 0 0 0;
    }
    .top_billed_cast_character{
        padding: 5px 0 0 0;
    }
    .movie_buttons{
        position: relative;
        left: -10px;
    }
    .add_to_watchlist_btn, .add_to_watchlist_btn_2, .add_to_watchlist_btn_3{
        width:40px;
        height: 40px;
    } 
    .doughnut_bg{
        display:none;
    }
    }
    @media only screen and (max-width:1024px) {
        .movie-img{
            margin-left:40px;
        }
    }
    @media only screen and (max-width:811px) {
    .movie-img{
        margin-left:0;
    }
    }