.movie-img {
    display: block;
    width: 300px;
    height: 450px;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    margin-left: 20px;
}

.single_column {
    width: 100%;
    margin: 0 auto;
    padding-top: 40px;
    padding-bottom: 40px;
    z-index: 0;
    color: white;
    font-family: 'Source Sans Pro', Arial, sans-serif;
    display: flex;
    justify-content: center;
}

section.poster {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    align-content: center;
    width: 700px;
    box-sizing: border-box;
    padding-left: 40px;
}

section.images {
    display: flex;
    align-items: flex-start;
    flex-wrap: nowrap;
}

div.custom_bg {
    background-repeat: no-repeat;
    background-size: cover;
}

.layer {
    background-color: rgba(46, 42, 40, 0.9);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.header_info {
    width: 100%;
}

.images_inner {
    display: flex;
    align-items: flex-start;
    flex-wrap: nowrap;
}

.Overview {
    width: 100%;
    margin: 0 0 8px 0;
    font-weight: 600;
    line-height: 1.3em;
    font-size: 1.3em;
}

.Overview-p {
    font-size: 1em;
    line-height: 1.4em;
    font-weight: 100;
    margin-bottom: 16px;
    color: #939190
}

.movie_title {
    margin: 0;
    padding: 0;
    font-size: 2.4em;
    line-height: 1.1em;
    font-weight: 700;
    display: inline-block;
}

.movie_year {
    color: #9E9C9B
}

.featured_crew {
    width: 100%;
    margin: 30px 0 8px 0;
    font-weight: 600;
    line-height: 1.3em;
    font-size: 1.3em;
}

.profile {
    width: 33%;
    flex-basis: 33%;
    text-align: left;
    margin-bottom: 14px;
    margin-right: 0;
    box-sizing: border-box;
    padding-right: 20px;
    list-style-type: none;
}

.profile h1 {
    font-size: 1em;
    line-height: 1.4em;
    margin: 0;
    font-weight: bold;
    width: 140px;
}

.profile p {
    padding: 0;
    font-size: 0.9em;
    line-height: 1.4em;
    color: #777573;
    width: 140px;
}

.featuredCrew {
    margin-top: 0;
    justify-content: flex-start;
    flex-wrap: wrap;
    list-style-type: none;
    list-style-position: inside;
    margin: 0;
    padding: 0;
    display: flex;
    width: 100%;
}

.billed_cast_member {
    border: 1px solid #e3e3e3;
    padding-bottom: 10px;
    width: 140px;
    background-color: #fff;
    box-sizing: border-box;
    margin-right: 10px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    font-family: 'Source Sans Pro', Arial, sans-serif;
}

.billed_cast_member img {
    width: 100%;
    height: 180px;
}
.top_billed_scroller{
    height: auto;
}

.top_billed_cast_container {
    display: flex;
    width:100%;
}

.top_billed_cast_name {
    padding: 10px 10px 0 10px;
    color: black;
    font-weight: bold;
    text-decoration: none;
    font-size:17px;
}

.top_billed_cast_name:hover {
    text-decoration: none;
    color: black;
}

.top_billed_cast_character {
    padding: 5px 10px 0 10px;
}
.top_billed_cast_h3{
    font-weight: 600;
    font-size: 1.4em;
    margin: 30px 0 10px 5px;
    font-family: 'Source Sans Pro', Arial, sans-serif;

}