@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');
.sidebar {
    display: flex;
    flex-direction: column;
    background: rgba(13, 28, 35, 0.9);
    color: white;
    width: 300px;
    height: 100vh;
    position: fixed;
    z-index: 2;
    text-transform: uppercase;
    font-family: 'Source Sans Pro', Arial, sans-serif;
    transition: all .35s ease-in-out ;
    left: -300px;
}
.sidebar-show{
    transform: translate(300px);

}

.sideMenu-div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.sideMenuIcon {
    height: 50px;
    width: 50px;
    margin-bottom: 20px;
    position: relative;
    left: -3px;
    top: 10px;
}

.side-link {
    padding: 10px 0 10px 5px;
    display: flex;
    flex-direction: column;
}

.main-side-link {
    text-decoration: none;
    color: white;
}

.main-side-link:hover {
    text-decoration: none;
    color: #2F444A;
}

.side-links {
    display: block;
    text-decoration: none;
    color: white;
    display: flex;
    flex-direction: column;
}

.side-links>a {
    color: #2F444A;
    padding: none;
    text-decoration: none;
    font-size: 16px;
    text-transform: none;
    margin: 0 10px;
    white-space: nowrap;
    overflow: hidden;
    margin: 3px 0 3px 10px;
}

.side-link:hover {
    border: 0.5px dotted white;
    color: lightgray;
}

.side-links>a:hover {
    color: lightgray;
}

@media only screen and (max-width:738px) {}

@media only screen and (max-width:414px) {
    .sidebar {
        width: 35vw;
    }
}

@media only screen and (min-width:739px) {
    .sidebar {
        display: none;
    }
}